[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  VITE_API_URL = "https://comfort-hub.infinityfreeapp.com/api"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
